body {
    background-color: gainsboro;
}

.tankstelle {
    background-color: white;
    color: black;
}

.tankstelle-bild {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: url(images/TansktelleEdited.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.tankstelle-bild-main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5%;
    color: white;
    backdrop-filter: blur(25px);
    font-size: 50px;
}

.bildUndMap {
    display: flex;
    flex-direction: row;
}

.tankstelle-bild iframe {
    width: 50%;
    height: 50vh;
}

.tankstelle-bild div img {
    width: 50%;
}

@media only screen and (max-width: 1700px) {

    .bildUndMap {
        flex-direction: column-reverse;
    }

    .tankstelle-bild iframe {
        width: 100%;
    }

    .tankstelle-bild div img {
        width: 100%;
    }
}

@media only screen and (max-width:500px ) {
    .tankstelle-bild iframe {
        height: 30vh;
    }

    .tankstelle-bild-main-container h1 {
        font-size: 40px;
    }

    .tankstelle-bild ifram, .tankstelle-bild div img {
        width: 100%;
        margin:0;
    }
}

